<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Flappy-Bird-Game</title>
    <link
      rel="stylesheet"
      href="/public/styles.css"
    />
    <script src="/script/script.js"></script>
    <link
      rel="icon"
      type="icon/png"
      href="/images/Raven-icon.svg"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Honk:MORF@15&display=swap"       rel="stylesheet">
  </head>
  <body>
    <div class="background"></div>
    <img src="/images/Doge-bird.png" alt="invalid-img" class="bird" id="bird-1">
    <div class="message">
        Enter to Start Game <p <span style="color: red;">&uarr;</span>>ArrowUp to Control</p>
    </div>
    <div class="score">
        <span class="score_title"></span>
        <span class="score_val"></span>
    </div>
  </body>
</html>
